[GIS-TEST]

[grid]
upn = 11
ewn = 94
nsn = 176
dew = 16000
dns = 16000
sigma_builtin = 1

[time]
tstart = 0.
tend = 0.
dt = 1.

[options]
dycore = 3              # 0 = SIA, 1 = 1st-order Payne-Price, 2 = glissade 
flow_law = 2            # 0 = constant, 2 = Paterson-Budd
evolution = 3           # 3 = remapping 
temperature = 1         # 1 = prognostic, 3 = enthalpy

[ho_options]
which_ho_babc = 5       # 4 = no-slip at bed
which_ho_efvs = 2       # 0 = nonlinear eff. visc. w/ n=3
which_ho_sparse = 4     # 1=SLAP GMRES, 4=Trilinos for linear solver
which_ho_nonlinear = 1  # 0=Picard, 1=JFNK
which_ho_gradient_margin = 2
#which_ho_gradient = 1

[parameters]
flow_factor = 1
ice_limit = 10

[CF default]
title = greenland ice sheet dyagnostic run using first-order model 

[CF input]
name = ../ncGridSamples/greenland.nc
time = 1

[CF output]
variables = thk usurf uvel vvel velnorm temp acab ivol beta thkmask topg ice_mask flwa rhs_u rhs_v 
frequency = 1 
name = greenland_cism-albanyT.nc

[external_dycore_options]
external_dycore_type = 2 #2 = Albany/FELIX
dycore_input_file = input_cism-albanyT.xml  
debug_output_verbosity = 2
use_lateral_bcs = 0
use_glissade_surf_height_grad = 0

